.mainNav {
  color: black;
  margin-bottom: 60px;
  font-family:'Permanent Marker', cursive;
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .mainNavHolder {
      background-color: #f0fff0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position: relative;
      .openMenuHover {
        z-index: 1;
        color: white;
        max-width: 300px;
        width: 300px;
        text-align: right;
        padding: 12px 23px;
        display: none;
        opacity: 0.8;
        .menu {
          list-style: none;
          color: red;
          .open {
            display: block;
          }
        }
      }
    }
  }
}

.mainItem {
  padding: 20px 0;
  list-style: none;
  .ulItem {
    color: black;
    text-decoration: none;
    transition: 0.9s;
    padding: 10px;
    &:hover {
      border: 1px solid #008000;
      padding: 10px;
      background-color: #008000;
      color: #f0fff0;
      border-radius: 5px;
    }
  }
}

.close {
  display: none;
}
%mobile-controls {
  font-size: 40px;
  cursor: pointer;
  color: #008000;
  transition: 0.7s;
}

.mobileHamburger {
  @extend %mobile-controls;
  position: absolute;
  right: 0;
  &:hover {
    color: palegreen;
  }
}

.closeMobileHamburger {
  @extend %mobile-controls;
  position: absolute;
  right: 20px;
  &:hover {
    color: red;
  }
}

@media all and (min-width: 992px) {
  .mainNav {
    margin-bottom: 0;
    .container {
      .mainNavHolder {
        justify-content: center;
        background-color: transparent;
        .openMenuHover {
          position: static;
          width: auto;
          max-width: 100%;
        }
      }
    }
  }

  %mobile-controls {
    display: none;
  }

  .close {
    display: block;
    background-color: transparent;
  }
  
  .menu {
    .mainItem {
      display: inline-block;
      margin: 0 30px;
    }
  }
};